@font-face {
    font-family: 'Mont';
    src: url('/fonts/Mont-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Mont';
    src: url('/fonts/Mont-Regular.ttf') format('truetype');
    font-weight: normal;
  }
  
@font-face {
    font-family: 'Mont';
    src: url('/fonts/Mont-Bold.ttf') format('truetype');
    font-weight: bold;
  }
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mont', sans-serif;
    font-family: 'Gilroy', sans-serif;
    text-align: center;
    overflow-x: hidden;
    position: relative;
}
.flexRowOnly{
    display: flex;
    flex-direction: row;
}
.flexColumnOnly{
    display: flex;
    flex-direction: column;
}
.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#mobilel-head{
    width: 100vw;
}
#springs-div{
    height: 39px;
    width: 100vw;
    background-color: #11346F;
}
#springsPTag{
    color: white;
    font-family: 'Mont';
    font-weight: 800;
    font-size: 14px;
    line-height: 30px;
    width: 313px;
    gap: 10px;
}
#mainTopDiv{
    background: #F5FDFF;
}
#magicMassage{
    margin-top: 17px;
    margin-bottom: 17px;
}
hr{
    height: 2px;
    background-color: rgb(212, 207, 207);
    border: none;
}
#allInOneText p{
    font-family: 'Mont';
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    color: #11346F;
    width: 213px;
    text-align: left;
    
}
#allInOneText{
    padding-left: 17px;
    padding-right: 17px;
}
#magicSpan{
    width: 50%;
    font-family: "Mont";
    font-size: 26px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #197AFF;

}
#springAndScratDiv{
    display: flex;
    align-items: center;
    padding-left: 17px;
    position: relative;
    bottom: 25px;
}
#lineSpinner{
    position: relative;
    bottom: 10px;
}
#allInOneAndImage{
    margin-top: 17px;
}
#twoMachines{
    height: 107px;
    width: 174px;
    position: relative;
}
#shadow1{
    position: relative;
    right: 23%;
    bottom: 10px;
}
#shadow2{
    position: relative;
    left: 10%;
    bottom: 10px;
}
#magicMasProvText{
    font-family: 'Mont';
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #262626;
    position: relative;
    bottom: 25px;
    width: 378px;
}
#differentKindOfMassage{
    width: 378px;
    align-items: center;
    justify-content: space-around;
}
#differentKindOfMassage p{
    margin-top: 5px;
    font-family: 'Mont';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #11346F;
}
#threeButtonsDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 21px;
}
#getMesNow{
    height: 63px;
    max-width: 408px;
    background: #197AFF;
    border-radius: 60px;
    color: white;
    border: none;
    font-family: 'Mont';
    font-weight: 800;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    width: 100%;
}

#bundlesEach{
    width: 60%;
    max-width: 255px;
    align-self: center;
    height: 34px;
    border: none;
    background: rgba(77, 145, 207, 0.15);
    box-shadow: 0px 0px 14px #FFFFFF;
    border-radius: 30px;
    margin-top: 16px;
    font-family: 'Mont';
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    color: #000000;
}
#bundlesEach span{
    color: #197AFF;
    font-weight: 700;
    font-size: 14px;
}
#debraImg{
    width: 64px;
}
#debraCommentDiv{
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 15px;
    height: 81px;
    background: rgba(234, 242, 255, 0.1);
    border: 1px solid rgba(174, 204, 255, 0.5);
    border-radius: 110px;
    margin-top: 16px;
    margin-bottom: 26px;
    width: 393px;
}
#starDebVerDiv{
    justify-content: space-between;
    width: 115%;
}
#verBuyerDiv{
    align-items: center;
}
#verBuyerDiv p{
    position: relative;
    left: 5px;
}
#debraCom{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    position: relative;
    right: 40px;
}
#debraComText{
    font-family: 'Mont';
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    color: #000000;
    text-align: left;
}
#debraName{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: #787979;
}
#verBuyerText{
    font-family: 'Mont';
    font-weight: 800;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #197AFF;

}
#raveDiv{
    display: none;
}
#shippingToRaveMainDiv{
    height: 101px;
    align-items: center;
    justify-content: center;
    background: #11346F;
    backdrop-filter: blur(2px);
    font-family: 'Mont';
    font-weight: 800;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}
#shippingToRaveMainDiv div{
    width: 35%;
}
#cardThree, #cardFive, #cardOne{
    background-color: #F6F8FC;
    border: 1.5px solid #197AFF;
    border-radius: 18px;
    margin-top: 58px;
    border: none;
    padding-bottom: 23px;
    width: 378px;
}
#cardThree{
    background: linear-gradient(180deg, #FFFFFF 0%, #D7E6FF 100%) !important;
}

#cardOne{
    padding-top: 23px;
}

#threeMachArr, .threeMachArr{
    position: relative;
    z-index: 0;
    left: 215px;
    top: 11px;

}
#threeMachImg, .threeMachImg{
    position: relative;
    z-index: 1;
    right: 10%;
    bottom: 27px;
}
.threeMachImg{
    width: 241px;
    height: 99px;
}
#mainCardDiv{
    background: linear-gradient(118.72deg, #AECCFF -18.14%, #197AFF 165.34%);
    padding-top: 19px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 63px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#buyAndSaveTextDiv p{
    font-family: "Mont";
    font-size: 30px;
    font-weight: 900;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #11346F;
    
}
#buyAndSaveTextDiv span{
    font-family: 'Mont';
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: white;
}
#mostPopul, .mostPopul{
    font-family: 'Mont';
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #57AC73;
    border-radius: 50px;
    height: 28px;
    border: none;
    width: 128px;
}
.mostPopul{
    background: #AC5780;
    width: 100px;
}
#buyGetOneFree, .buyGetOneFree{
    font-family: "Gilroy";
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    color: #11346F;
    margin-top: 11px;
}
#buyGetOneFree span, .getOne{
    font-family: "Gilroy";
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0em;
    color:#197AFF;
}
.pricingDiv{
    justify-content: center;
    gap: 22px;
    margin-top: 9px;
}
.pricingDiv p{
    font-family: "Gilroy";
    font-size: 25px;
    font-weight: 800;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    color: #11346F;
}
.pricingDiv span{
    font-family: "Gilroy";
    font-size: 25px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    color: #93A2BB;
    text-decoration: line-through;
}
.freeInstalAndAfterpayDiv{
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}
.freeInstalAndAfterpayDiv p{
    font-family: "Mont";
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0em;
}
.freeInstalAndAfterpayDiv img{
   position: relative;
   left: 16px;

}
.freeInstalAndAfterpayDiv span{
    font-family: "Mont";
    font-size: 11px;
    font-weight: 900;
    line-height: 15px;
    letter-spacing: 0em;
}
.btn-container{
    width: 342px;  
    cursor: pointer;
}


label {
    font-size: 13px;
    color: #424242;
    font-weight: 500;
}

.btn-color-mode-switch{
    display: inline-block;
    margin: 0px;
    position: relative;
    cursor: pointer;
    
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner{
    margin: 0px;
    width: 342px;
    height: 36px;
    background: #fff;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    display: block;
    cursor: pointer;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before{
    content: attr(data-on);
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    top: 11px;
    right: 20px;

}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after{
    content: attr(data-off);
    width: 171px;
    height: 5px;
    background: #99D298;
    border-radius: 26px;
    position: absolute;
    left: 0px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    padding: 10px 5px 20px 5px;
}


.btn-color-mode-switch input[type="checkbox"]{
    cursor: pointer;
    width: 50px;
    height: 36px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}
.btn-color-mode-switch input[type="radio"]{
    cursor: pointer;
    width: 50px;
    height: 36px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after{
    content: attr(data-on);
    left: 171px;
    background: #99D298;
}
.btn-color-mode-switch input[type="radio"]:checked + label.btn-color-mode-switch-inner:after{
    content: attr(data-on);
    left: 171px;
    background: #99D298;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before{
    content: attr(data-off);
    right: auto;
    left: 20px;
}
.btn-color-mode-switch input[type="radio"]:checked + label.btn-color-mode-switch-inner:before{
    content: attr(data-off);
    right: auto;
    left: 20px;
}


[data-on]{
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #11346F;
    
}
[data-off]{
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #11346F;
}
#specMainDiv, .specMainDiv{
    display: flex;
    justify-content: center;
    margin-top: 23px;
}
.centerPayment{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
#specialPriceDiv, .specialPriceDiv{
    border: 1px solid #AECCFF;
    border-radius: 19px;
    width: 342px;
    height: 77px;
    
}
.sixOrdersDiv{
    position: relative;
    top: 8px;
    gap: 10px;
}
.sixOrdersDiv p{
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #11346F;
}
.getYourMagButton{
    font-family: 'Mont';
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #197AFF;
    box-shadow: 0px 7px 14px rgba(25, 122, 255, 0.5);
    border-radius: 60px;
    border: none;
    height: 48px;
    width: 353px;
    margin-top: 21px;
}
.payment{
    display: flex;
    width: 300px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

} 
#switchContainer{
    width: 342px;
    background: #F0F6FF;
    border: none;
    border-radius: 80px;
    height: 36px;
}
#switchContainer p{
    width: 50%;
    text-align: center;
    font-size: 12px;
    cursor: pointer;

}
.backGreen{
    padding-top: 10px;
    background: #BFF5BE;
    border-radius: 48px;
    font-family: Gilroy;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    height: 100%;
    transition: all 0.3s ease;
}
.middle-skratch{
    position: relative;
    left: 44px;
    bottom: 8px;
}
#preFooter{
    padding-top: 28px;
    padding-bottom: 31px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #F6F8FC;
    overflow-x: hidden;
}
#preFooHeadDiv p{
    font-family: "Mont";
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #11346F;
    width: 400px;
}
#preFooHeadDiv span{
    color: #197AFF;
    font-family: "Mont";
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
}
#totalRevAndWriteRevDiv{
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-top: 40px;
}
#totalRevDiv{
    text-align: left;
}
#totalRevDiv p{
    font-family: "Mont";
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}
#totalRevAndWriteRevDiv button{
    background: #F6F8FC;
    border: 1px solid #213786;
    border-radius: 5px;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #11346F;
    height: 40px;
    width: 133px;
}
#sliderDiv{
    gap: 13px;
    margin-top: 17px;
    overflow: hidden;
}
.forteenPix{
    width: 14;
    height: 14;
}
.meganText{
    font-family: 'Mont';
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #11346F;
}
.iLoveVerify{
    justify-content: space-between;
    align-items:flex-start;
    margin-top: 30px;
    width: 90%;
}
.filter-green{
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
.verif{
    align-items: center;
    justify-content: center;
    gap: 9px;
    position: relative;
    right: 40px;
}
.verif p{
    font-family: 'Mont';
    font-weight: 800;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #89C25F;

}
.sliderCardDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-bottom: 30px;
    border: 1px solid #E9E9E9;
    border-radius: 10px;
    width: 285px;
    height: 472px;
}
.sliderText{
    width: 250px;
    font-family: 'Mont';
    font-weight: 500;
    font-size: 13px;
    line-height: 26px;
    text-align: left;
    color: #262626;
    margin-top: 19px;
}
.heightOneSicNine{
    height: 169px;
    width: 285px;
}

.dots {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 10px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: blue;
}
  
.hidden, .headDivFunctional, .ordButton, #spinnerTwo, #masProvTextLarge, #differentKindOfMassage hr, .largeUl, #buyGetOneFreeOk, #freeShipSpan{
    display: none;
}
.show{
    display: block;
}
footer{
    padding: 26px 22px 24px 18px;
    background: #11346F;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footerTitle{
    font-family: 'Mont';
    font-weight: 500;
    font-size: 30px;
    line-height: 47px;
    text-align: center;
    color: #FFFFFF;
}
#footerTitle span{
    font-family: "Gilroy";
    font-size: 30px;
    font-weight: 900;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
}
.footerImg{
    margin-top: 39px;
    border-radius: 10px;
}
.questions{
    gap:10px;
    margin-top: 24px;
}
.questionOne{
    padding: 10px 27px 5px 14px;
    border: 1px solid #31548E;
    border-radius: 6px;
    transition: all 0.3s ease;
    display: flex;
    width: 375px;
}
.question{
    display: flex;
    align-items: center;
    height: 59px;
}
.question p{
    font-family: 'Mont';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    color: #FFFFFF;
}
.hrAndAnswer hr{
    margin-left: -14px;
    margin-right: -27px;
    height: 1px;
}
.hrAndAnswer p{
    font-family: 'Mont';
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    width: 105%;
    position: relative;
    top: 15px;
    color: #AECCFF;
}
.hrAndAnswer{
    display: none;
    height: 72px;
}
.faq{
    font-family: 'Mont';
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #F6F8FC;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 25px;
}
.faq img{
    transform: rotate(180deg);
}
.pricing-button-container {
    width: 339px; /* set the width of the container */
    height: 36px; /* set the height of the container */
    position: relative; /* set the container to be positioned relative to its parent */
    background-color: white;
    border-radius: 48px;
  }
  
  .button-section {
    position: absolute; /* position the sections relative to the container */
    top: 0; /* align the top of the sections with the top of the container */
    bottom: 0; /* align the bottom of the sections with the bottom of the container */
    width: 50%; /* make the sections take up half the width of the container */
    text-align: center; /* center the text in the sections */
    line-height: 40px; /* center the text vertically within the sections */
    background-color: white; /* set the default background color of the sections */
    transition: background-color 0.6s ease;
    border-radius: 48px;
  }
  
  .left {
    left: 0; /* align the left section with the left side of the container */
  }
  
  .right {
    right: 0; /* align the right section with the right side of the container */
  }
  
  /* Add a class for the active section */
  .active {
    background-color: #BFF5BE; /* change the background color of the active section */
  }
  
@media only screen and (min-width: 600px){
    #mobilel-head{
        display: none;
    }
}
@media only screen and (min-width: 1400px){
    #shadow1, #shadow2, #twoMachines, #lineSpinner, #magicMasProvText, .buyGetOneFree{
        display: none;
    }
    #mainTopDiv{
        padding-left: 100px;
        padding-right: 100px;
        background-image: url(./assets/twoMachineLarge.png);
        background-repeat: no-repeat;
        background-position: 1000px 188px;
        padding-bottom: 52px;
    }
    #hrId{
        margin-left: -100px;
        margin-right: -100px;
    }
    .headDivFunctional{
        display: flex;
        flex-direction: row;
        width: 515px;
        height: 21px;
        justify-content: space-between;
        align-items: center;
        font-family: 'Mont';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #11346F;
    }
    .headDivFunctional p:hover{
        cursor: pointer;
        font-weight: 700;
    }
    .magicMassageHeader{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .ordButton{
        font-family: 'Mont';
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        background: #197AFF;
        border-radius: 60px;
        width: 165px;
        height: 42px;
        display: block;
        border: none;
    }
    #allInOneText p, #magicSpan{
        font-size: 42px;
        line-height: 55px;

    }
    #allInOneText p{
        width: 912px;
    }
    #twoMachines img{
        width: 391px;
        height: 241px;
    }
    #scratchImage{
        width: 171px;
    }
    #springAndScratDiv{
        left: 748px;
    }
    #spinnerTwo{
        display: block;
        transform: rotate(315deg);
        position: relative;
        bottom: 34px;
        right: 10px;
    }
    #masProvTextLarge{
        display: block;
        font-family: 'Mont';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #262626;
        width: 731px;
        text-align: left;
    }
    #differentKindOfMassage{
        width: 686px;
        background: rgba(174, 204, 255, 0.1);
        border: 1px solid rgba(174, 204, 255, 0.5);
        border-radius: 10px;
        height: 152px;
        justify-content: space-between;
        margin-top: 50px;
    }
    #differentKindOfMassage hr{
        display: block;
        width: 1px;
        height: 120px;
        background-color: #CEE2FF;
        position: relative;
        left: 7px;
    }
    .largeUl{
        display: flex;
        font-family: 'Mont';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #262626;
    }
    .hrAndFourDivs{
        display: flex;
        flex-direction: row;
        width: 25%;
        position: relative;
        left: 31px;
    }
    #twoButtonsDiv {
        text-align: start;
        width: 408px;
    }
    #threeButtonsDiv{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        margin-top: 52px;
    }
    #debraCommentDiv{
        margin-bottom: 0;
        position: relative;
        top: 40px;
    }
    #shippingToRaveMainDiv{
        padding-left: 100px;
        padding-right: 100px;
        width: 100%;
        justify-content: space-between;
    }
    #shippingToRaveMainDiv p{
        font-size: 16px;
        line-height: 30px;
    }
    #shippingToRaveMainDiv div{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 32px;
        width: 50px;
        height: 50px;
        width: max-content
    }
    #shippingToRaveMainDiv img{
        width: 50px;
        height: 50px;
    }
    #blustar{
        position: relative;
        right: 41px;
        width: 32px !important;
        height: 32px !important;
    }
    #raveDiv{
        gap:0 !important;
    }
    #buyAndSaveTextDiv p, #buyAndSaveTextDiv p span{
        font-size: 37px;
        line-height: 49px;
    }
    #cardFive{
        order: -1 !important;
    }
    #bigWrapperDiv{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
        padding-left: 100px;
        padding-right: 100px;
    }
    .oneMachImg{
        position: relative;
        bottom: 50px;
    }
    #cardFive, #cardThree, #cardOne{
        height: 530px;
        width: 368px;
    }
    .threeMachArr, #threeMachArr{
        top: 40px;
    }
    #buyGetOneFreeOk{
        display: block;
        font-size: 28px;
        line-height: 37px;
    }
    #freeShipSpan{
        display: block;
        text-decoration: none;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #11346F;
    }
    .pricingDiv p{
        font-size: 32px;
        line-height: 43px;
    }
    .thertyDMB{
        display: flex;
        align-items: center;
        margin-top: 30px;
        gap: 10px;
    }
    .thertyDMB p{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #11346F;
    }
    #oneMIFAfterpay{
        margin-top: 40px;
        margin-bottom: 33px;
    }
    #buyGetOneFreeFive{
        display: block;
    }
    

}
  

  