@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
#mobilel-head{
    width: 100vw;
}
#springs-div{
    height: 39px;
    width: 100vw;
    background-color: #11346F;
}
#springsPTag{
    position: relative;
    top:20%;
    color: white;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 30px;
}
#mainTopDiv{
    background: #F5FDFF;
}
#magicMassage{
    margin-top: 17px;
    margin-bottom: 17px;
}
hr{
    height: 2px;
    background-color: rgb(212, 207, 207);
    border: none;
}
#allInOneText p{
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    color: #11346F;
    width: 60%;
    text-align: left;
    padding-left: 17px;
    
}
#magicSpan{
    width: 50%;
    font-family: "Khula";
    font-size: 35px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #197AFF;

}
#springAndScratDiv{
    display: flex;
    align-items: center;
    padding-left: 17px;
    position: relative;
    bottom: 35px;
}
#lineSpinner{
    position: relative;
    /* transform: rotate(-40deg); */
    left: 5%;
    bottom: 10px;
}
#allInOneAndImage{
    margin-top: 17px;
}
#twoMachines{
    height: 107px;
    width: 174px;
    position: relative;
    bottom: 70px;
    left: 5%;
}
#shadow1{
    position: relative;
    right: 23%;
    bottom: 10px;
}
#shadow2{
    position: relative;
    left: 10%;
    bottom: 10px;
}
